#!/bin/bash

alias run-asfe="java/com/google/ads/syn/adsense/fe/devtools/run-asfe --fusion --debug"
alias run-adx=java/com/google/ads/syn/adsense/fe/run-adx
alias run-oophm="java/com/google/ads/syn/adsense/fe/devtools/run-oophm --fusion --debug"
alias run-arc-service="java/com/google/ads/syn/adsense/fe/star/service/run-arc-service"
alias sync-asfe-green='git5 sync @`/home/build/static/projects/testing/tap/scripts/last_green_cl --project asfe_all`'
alias tap-submit="/home/build/static/projects/testing/tap/scripts/tap_presubmit --project=asfe_all"
alias run-inventory="java/com/google/ads/syn/inventory/service/run-inventory-service --setup_alerts_server"

alias lj=/home/flume-user/bin/lj
alias gtags=/home/build/nonconf/google3/tools/tags/gtags.sh

alias g5='/google/data/ro/projects/shelltoys/g5.sar'

alias ge='git5 export'
alias gd='git diff'

# enable color support of ls and also add handy aliases
if [ -x /usr/bin/dircolors ]; then
    test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
    # WARNING: enabling this can cause multi-second delays due to NFS latency
    alias ls='ls --color=auto'
    #alias dir='dir --color=auto'
    #alias vdir='vdir --color=auto'

    alias grep='grep --color=auto'
    alias fgrep='fgrep --color=auto'
    alias egrep='egrep --color=auto'
fi

#alias less='/usr/share/vim/vim73/macros/less.sh'

# some more ls aliases
alias ll='ls -ahlF'
alias la='ls -A'
alias l='ls -CF'

alias tmux="TERM=screen-256color-bce tmux"

alias emacs="emacs -nw"

alias menu='/home/shine/share/menu/menu.par puddinglane,pavilion,londondeli'
alias ack=ack-grep

alias buildifier="/google/data/ro/projects/devtools/buildifier/buildifier --mode=fix"
alias fixdeps="/google/data/ro/projects/demolition/requireddeps.par --fix"
#alias lock="gnome-screensaver-command -l"
alias org="vim ~/tzn.org"

alias glaze=/google/src/head/depot/google3/third_party/go/bin/glaze
alias live_borgdiff="live_borgdiff --diff_command='diff -u'"
