[apply]
	whitespace = fix
[color]
	ui = auto
	interactive = auto
	branch = auto
	diff = auto
	status = auto
[color "diff"]
	old = red
	new = green
	whitespace = yellow
[color "status"]
	untracked = bold yellow
	added = bold blue
	changed = red
[color "branch"]
	current = green
	remote = yellow
[core]
	editor = vim
	whitespace = fix
	excludesfile = /usr/local/google/home/tzn/.gitignore_global
[diff]
	tool = vimdiff
[gui]
	fontui = -family Ubuntu -size -12 -weight normal -slant roman -underline 0 -overstrike 0
	fontdiff = -family \"Ubuntu Mono\" -size -12 -weight normal -slant roman -underline 0 -overstrike 0
[log]
  graph = true
  pretty = format:"%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset"
  abbrev-commit = true
[merge]
	tool = vimdiff
[mergetool]
	prompt = false
	keepBackup = false
[mergetool "splice"]
	cmd = "gvim -f $BASE $LOCAL $REMOTE $MERGED -c 'SpliceInit'"
	trustExitCode = true
[mergetool "vimdiffnice"]
	cmd = vimdiff -c \"wincmd J\" -c \"0\" $MERGED $LOCAL $BASE $REMOTE
[rerere]
	enabled = 0
[user]
	email = tzn@google.com
	name = Tiziano Santoro
[push]
	default = matching
[help]
	autocorrect = 1
[alias]
	lg = log --graph --pretty=tformat:'%Cred%h%Creset -%C(yellow)%d %Creset%s %Cgreen(%an %cr)%Creset' --abbrev-commit --date=relative
	lga = log --all --graph --pretty=tformat:'%Cred%h%Creset -%C(yellow)%d %Creset%s %Cgreen(%an %cr)%Creset' --abbrev-commit --date=relative
[tig "bind"]
	generic = R !git reset --hard %(commit)
