#!/bin/bash

# Git shortcuts
alias ga='git add'
alias gb='git branch'
alias gc='git commit'
alias gco='git checkout'
alias gp='git push'
alias gst='git status'
alias gd='git diff'

# enable color support of ls and also add handy aliases
if [ -x /usr/bin/dircolors ]; then
    test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
    # WARNING: enabling this can cause multi-second delays due to NFS latency
    alias ls='ls --color=auto'
    #alias dir='dir --color=auto'
    #alias vdir='vdir --color=auto'

    alias grep='grep --color=auto'
    alias fgrep='fgrep --color=auto'
    alias egrep='egrep --color=auto'
fi

#alias less='/usr/share/vim/vim73/macros/less.sh'

# some more ls aliases
# alias ls='ls -G'
alias ll='ls -ahlF'
alias la='ls -A'
alias l='ls -CF'

alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'

# copy to/from system clipboard (ctrl+v)
alias xclip="xclip -selection c"

alias gitbox='~/src/gitbox/gitbox'

alias tmux='TERM=screen-256color-bce tmux'

alias emacs='emacs -nw'

alias menu='/home/shine/share/menu/menu.par puddinglane,pavilion,londondeli'
alias ack=ack-grep
alias ports='netstat -tulanp'

#alias lock='gnome-screensaver-command -l'
alias org='vim ~/tzn.org'

# https://github.com/LuRsT/hr/blob/master/hr
function hr {
  ch=${1:-=}
  for i in $(seq 1 $(tput cols));
  do
    echo -n "$ch"
  done
}
