#!/bin/bash

# Set default precision for dc
alias dc='dc -e "10k" -'

# Git shortcuts
alias ga='git add'
alias gb='git branch'
alias gc='git commit'
alias gco='git checkout'
alias gp='git push'
alias gst='git status --short --branch'
alias gd='git diff'

# fasd https://github.com/clvv/fasd
alias a='fasd -a'        # any
alias s='fasd -si'       # show / search / select
alias d='fasd -d'        # directory
alias f='fasd -f'        # file
alias sd='fasd -sid'     # interactive directory selection
alias sf='fasd -sif'     # interactive file selection
alias z='fasd_cd -d'     # cd, same functionality as j in autojump
alias zz='fasd_cd -d -i' # cd with interactive selection
alias v='f -t -e vim -b viminfo' # vim

alias j='cd $(pwd | sed s!/javatests/!/java/!)'
alias jt='cd $(pwd | sed s!/java/!/javatests/!)'

# Mutt profiles
alias mutt_corp="MAIL_USER=tzn@google.com mutt"
alias mutt_personal="MAIL_USER=tiziano88@gmail.com mutt"

# enable color support of ls and also add handy aliases
if [ -x /usr/bin/dircolors ]; then
    test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
    # WARNING: enabling this can cause multi-second delays due to NFS latency
    alias ls='ls --color=auto'
    #alias dir='dir --color=auto'
    #alias vdir='vdir --color=auto'

    alias grep='grep --color=auto'
    alias fgrep='fgrep --color=auto'
    alias egrep='egrep --color=auto'
fi

#alias less='/usr/share/vim/vim73/macros/less.sh'

# some more ls aliases
# alias ls='ls -G'
# --dereference
alias ll='ls --all --human-readable --classify -l'
# alias la='ls'
alias l='ls --classify -C'

alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'

# copy to/from system clipboard (ctrl+v)
alias xclip="xclip -selection c"

alias gitbox='~/src/gitbox/gitbox'

alias tmux='TERM=screen-256color-bce tmux'

alias emacs='emacs -nw'

alias menu='/home/shine/share/menu/menu.par puddinglane,pavilion,londondeli'
alias ack=ack-grep
alias ports='netstat -tulanp'

#alias lock='gnome-screensaver-command -l'
alias org='vim ~/tzn.org'

alias mosh='mosh --ssh="ssh -o ProxyUseFdpass=no -o UseProxyIf=true -o GSSAPITrustDns=no"'

function ssh-key-install {
  readonly TARGET=$1
  cat ~/.ssh/id_rsa.pub | ssh $TARGET "cat >> ~/.ssh/authorized_keys"
}

# jump/mark
# http://jeroenjanssens.com/2013/08/16/quickly-navigate-your-filesystem-from-the-command-line.html
export MARKPATH=$HOME/.marks
function jump {
  cd -P $MARKPATH/$1 2>/dev/null || echo "No such mark: $1"
}
function mark {
  mkdir -p $MARKPATH; ln -s $(pwd) $MARKPATH/$1
}
function unmark {
  rm -i $MARKPATH/$1
}
function marks {
  ls -l $MARKPATH | sed 's/  / /g' | cut -d' ' -f9- | sed 's/ -/\t-/g' && echo
}

function _marks {
  reply=($(ls $MARKPATH))
}
compctl -K _marks jump
compctl -K _marks unmark

# tmux
function mux {
  case "$1" in
    "")
      # If no args, list all the available "visible" sessions.
      tmux ls | grep --color=never -C0 "^[^#]"
      ;;
    *)
      # "Hidden" sessions have a name starting with a '.'.
      session_id="#$1#$(date +%Y%m%d%H%M%S)"
      # Try to create a hidden session and attach it to the specified one, killing it once finished.
      # Failing this, create a new "visible" session with the specified name, and keep it alive.
      (tmux new-session -s "$session_id" -t "$1"; tmux kill-session -t "$session_id") || tmux new-session -s "$1"
      ;;
  esac
}

# Dynamic autocompletion for "visible" session names.
function _mux {
  reply=($(mux | cut -d: -f1))
}
compctl -K _mux mux

# https://github.com/LuRsT/hr/blob/master/hr
function hr {
  ch=${1:-=}
  for i in $(seq 1 $(tput cols));
  do
    echo -n "$ch"
  done
}

# Similar to ctrl-P
function p {
  ls -ahlsF **/*$1*
}
