"source ~/.vimrc

set ignorecase
set clipboard=unnamed

nmap gD :action GotoImplementation<CR>
nmap gu :action ShowUsages<CR>
nmap gU :action FindUsages<CR>

nmap Rr :action RenameElement<CR>
nmap Rm :action ExtractMethod<CR>
vnoremap Rm :action ExtractMethod<CR>
nmap Rv :action IntroduceVariable<CR>
nmap Ri :action Inline<CR>

map <C-h> <C-w>h
map <C-j> <C-w>j
map <C-k> <C-w>k
map <C-l> <C-w>l

map <C-v> :action ExtendSelection<CR>

nmap <C-e> :action RecentFiles<CR>
nmap <C-A-n> :action FileStructurePopup<CR>

nmap gb :action ToggleLineBreakpoint<CR>
nmap gB :action EditBreakpoint<CR>

nmap gc :action CommentByLineComment<CR>
vmap gc :action CommentByLineComment<CR>
