$include /et/inputrc

set editing-mode vi
set keymap vi
set echo-control-characters off
set completion-ignore-case on
set expand-tilde off
set show-all-if-ambiguous on
set visible-stats on
set colored-stats on
set visible-stats on
